In [1]:
import pandas as pd
from pyreadr import read_r

In [2]:
import matplotlib.pyplot as plt

In [39]:
data = read_r('data/train.rds')

In [40]:
df = data[None]

In [41]:
df.head(3)

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,AC092794.2,AC016722.3,LINC01119,LINC01291,AC010132.4,C7orf69,AL672277.1,FAM66D,AC007298.2,AL139022.2
rownames,,,,,,,,,,,,,,,,,,,,,
AAACCTGAGATATACG_2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGCGTGAAC_2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGCTACCTA_2,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
df.describe()

,SampleID,CellType,IGLV3-19,IGHV4-34,IGKC,IGHA1,IGLC3,S100A2,SCGB3A1,IGHG1,...,AC092794.2,AC016722.3,LINC01119,LINC01291,AC010132.4,C7orf69,AL672277.1,FAM66D,AC007298.2,AL139022.2
count,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,...,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000,31011.000000
mean,6.333398,2.808810,0.935829,0.090065,1.156428,0.368514,0.072652,0.585728,1.428880,0.735481,...,0.000322,0.000484,0.000290,0.000419,0.000387,0.000516,0.000226,0.000451,0.000258,0.000290
std,3.120921,1.882997,58.852290,8.994020,24.451987,14.369674,4.153750,14.337457,34.247756,17.644792,...,0.017955,0.021988,0.017034,0.020471,0.019668,0.022709,0.015023,0.021243,0.016060,0.017034
min,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,9.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9.000000,10.000000,6547.000000,1278.000000,1368.000000,1062.000000,482.000000,986.000000,2076.000000,1071.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [55]:
df['CellType'] = df['CellType'].astype('int8')

1. There are a lot of genes without Expression at all. We can discard them.
#There is no need to check for cells (rows) since each has a label so there should be some gene expression (I actually checked it and no changes in shape)

In [56]:
clean_data = df.loc[:, (df != 0).any(axis=0)]

In [57]:
df.shape

(31011, 10002)

In [58]:
clean_data.shape
#We have reduce 30% useless columns

(31011, 8681)

2. For each Cell type, how many samples do we have?

Answer: We mostly have data for celltype 2 (which constitutes 80% of the data), the running up is celltype 7 which is 12%

In [60]:
df.groupby(by='CellType')['CellType'].count()

CellType
1       449
2     24766
3       830
4       389
5        65
6        21
7      3700
8       559
9        66
10      166
Name: CellType, dtype: int64

3. Heatmap to see relationship between cells